body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#topbar {
    width: 980px;
    margin: 0 auto;
    height: 40px;
}

#logo {
    width: 100px;
    margin-top: 8px;
    margin-right: 20px;
    float: left;
}

.topbar-section {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
}

#signin-image {
    width: 25px;
    margin: 8px 15px;
    float: left;
}

#signin-text {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 13px;
    padding-right: 50px;
}

#bell-image {
    width: 25px;
    margin: 9px 15px;
}

#bell-div {
    float: left;
}

.topbar-menu {
    font-weight: bold;
    font-size: 90%;
    padding: 14px 15px 0 15px;
    height: 26px;
}

#search-box {
    background-color: #E4E4E4;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin: 7px 5px 3px 15px;
}

.clear {
    clear: both;
}

#menu-bar-container {
    background-color: #BB1919;
    width: 100%;
    height: 70px;
}

#menu-bar {
    width: 980px;
    margin: 0 auto;
    border-top: 1px solid #CCCCCC;
}

h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: normal;
    padding-top: 10px;
    float: left;
}

#local-news {
    float: right;
    width: 180px;
    font-size: 26px;
    border: 1px solid #BB4545;
    padding: 5px 5px 5px 5px;
    text-align: center;
    margin-top: 8px;
}

#local-news a {
    color: white;
    text-decoration: none;

}

#local-news a:hover {
    text-decoration: underline;
}

#menu-bar-2-container {
    background-color: #A91717;
    width: 100%;
}

#menu-bar-2 {
    width: 980px;
    margin: 0 auto;
    height: 40px;
}

#menu-bar-2 a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid #BB4545;
    font-size: 14px;
    position: relative;
    top: 9px;
}

#menu-bar-2 a:hover {
    text-decoration: underline;
}

#menu-bar-2 .no-border {
    border: none;
}

#page-container {
    width: 980px;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    margin-top: 40px;
    font-size: 20px;
    border-bottom: 2px solid #A91717;
    width: 105px;
}

h3 {
    margin-top: 0;
}

h3 a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    
}

h3 a:hover {
    color: #1167A8;
}

#article-summary {
    color: #A5A5A5;
    width: 250px;
    float: left;
    margin-right: 10px;
}

#tech-link {
    color: #A91717;
    text-decoration: none;
    border-left: 1px solid #CCCCCC;
    padding-left: 10px;
}

#tech-link:hover {
    color: #1167A8;
}

#date {
    padding-right: 10px;
}

#article-container {
    float: left;
    width: 665px;
    border-bottom: 1px solid #CCCCCC;
   
}

#article-container img {
    width: 400px;
}

.article-links {
    color: black;
    text-decoration: none;
}

.article-links:hover {
    color: #1167A8;
}

#watch-container {
    float: right;
    width: 300px;
    border-left: 1px solid #CCCCCC;
}

h4 {
    font-weight: normal;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 15px;
}

.watch-div {
    padding-left: 15px;
}

.watch-div img {
    float: left;
    padding-right: 5px;
}

.watch-date {
    font-size: 13px;
}

.watch-div a {
    text-decoration: none;
    color: black;
}

.watch-div a:hover {
    color: #1167A8;
}

